table { border-collapse:collapse; }
table td, table th { border:1px solid black;padding:5px; }
table thead {font-weight: bold; font-size: 19px; text-align: center; background-color: gainsboro}
table td {padding-top: 10px; padding-bottom: 10px}
.code {font-family: 'Courier New'; white-space:nowrap;}